/* Pseudo Clases */

*{
    font-family: fantasy;
    font-weight: 100;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.prueba{
    height: 200px;
    width: 200px;
    background: red;
    transition: background 4s, height 3s, width .2s; /* All 2s *//* Para hacer que todos cambien al mismo tiempo */
}

.prueba:hover{
    background: black;
    color: white;
    height: 300px;
    width: 300px;
}
a{
    margin-top: 30px;
    display: block;
    text-decoration: none;
    background: blue;
    padding: 20px;
    color: white;
}
.a:link{
    color: white;
}
a:visited{
    color: red;
}
.caja{
    width: 200px;
    height: 200px;
    background: salmon;
    margin-top: 20px;
    transition: all 2s;
}
.caja:active{
    background: olive;
    width: 400px;
}
.caja2{
    width: 200px;
    margin-top: 30px;
    transition: 2s;
}
.caja2:focus{
    width: 400px;
}

/* lang casi no se utiliza solo es para definir en que idioma esta el lenguaje */
.caja3{
    margin-top: 30px;
}
.caja b:lang(es){
    background-color: black;
    color: white;
}