/* Overflow */

*{
    font-family: fantasy;
    font-weight: 100;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

div{
    margin: 100px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    background: rosybrown;
    overflow: hidden; /* No se ve la imagen por fuera del div */
}
img{
    position: relative;
    top: 50px;
    right: 100px;
}