/* Objet Fit y object position*/

*{
    font-family: fantasy;
    font-weight: 100;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.caja1{
    height: 200px;
    width: 200px;
    background: palegreen;
    border: 3px solid greenyellow;
    margin: 20px;
}
.caja1:active{
    cursor: move;
}